<a href="https://colab.research.google.com/github/vinigm/Portfolio/blob/main/3_SalesAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sales Analysis**
---

Fiz essa análise como exercício através [DESSE VÍDEO](https://www.youtube.com/watch?v=eMOA1pPVUc4&list=LL&index=1&t=340s). Estava olhando vídeos no Youtube referentes à data analytics e achei que seria interessante tentar sozinho e caso tivesse dúvidas recorreria ao vídeo para continuar a análise.

Assim como as outras análises contidas nesse diretório ("Estudos de Caso") do meu GitHub, mantenho aqui uma linguagem informal na qual vou transcrevendo minha linha de raciocínio ao longo da análise. É pertinente dizer que a linguagem utilizada aqui não tem um viés profissional, e sim, apenas para fins de exercício.

## **Importação de bibliotecas e dados**

In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime as dt

Os dados são referentes às vendas de produtos ao longo de um ano. Os datasets estão divididos por mês.

In [2]:
datajan = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_January_2019.csv') #January
datafeb = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_February_2019.csv') #February
datamarch = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_March_2019.csv') #March
dataabril = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_April_2019.csv') #Abril
datamay = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_May_2019.csv') #May
datajun = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_June_2019.csv') #June
datajul = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_July_2019.csv') #July
dataaug = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_August_2019.csv') #August
datasep = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_September_2019.csv') #September
dataoc = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_October_2019.csv') #October
datanov = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_November_2019.csv') #November
datadez = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/Pandas-Data-Science-Tasks/master/SalesAnalysis/Sales_Data/Sales_December_2019.csv') #December

Fiz o upload para esse notebook através do GitHub do dono do canal do Youtube e ja transformei tudo pra df do Pandas. ***VERIFICAR SE ISSO ERA NECESSÁRIO SER FEITO, TALVEZ TENHA UMA FORMA MAIS EFICIENTE***

In [3]:
dfjan = pd.DataFrame(datajan)
dffeb = pd.DataFrame(datafeb)
dfmarch = pd.DataFrame(datamarch)
dfabril = pd.DataFrame(dataabril)
dfmay = pd.DataFrame(datamay)
dfjun = pd.DataFrame(datajun)
dfjul = pd.DataFrame(datajul)
dfaug = pd.DataFrame(dataaug)
dfsep = pd.DataFrame(datasep)
dfoc = pd.DataFrame(dataoc)
dfnov = pd.DataFrame(datanov)
dfdez = pd.DataFrame(datadez)

In [4]:
dfmay.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,194095,Wired Headphones,1,11.99,05/16/19 17:14,"669 2nd St, New York City, NY 10001"
1,194096,AA Batteries (4-pack),1,3.84,05/19/19 14:43,"844 Walnut St, Dallas, TX 75001"
2,194097,27in FHD Monitor,1,149.99,05/24/19 11:36,"164 Madison St, New York City, NY 10001"
3,194098,Wired Headphones,1,11.99,05/02/19 20:40,"622 Meadow St, Dallas, TX 75001"
4,194099,AAA Batteries (4-pack),2,2.99,05/11/19 22:55,"17 Church St, Seattle, WA 98101"

Como temos 12 planilhas diferentes, minha idéia inicial é conseguir transformar tudo em uma tabela única para poder analisar de forma mais tranquila os dados.

**No vídeo foi feito de uma maneira diferente - verificar isso se pode ser feito de maneira mais eficiente**

In [15]:
df = pd.concat([dfjan, dffeb, dfmarch, dfmay, dfjun, dfjul, dfaug, dfsep, dfoc, dfnov, dfdez])

In [17]:
df1.shape

(21759, 6)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 168467 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          167981 non-null  object
 1   Product           167981 non-null  object
 2   Quantity Ordered  167981 non-null  object
 3   Price Each        167981 non-null  object
 4   Order Date        167981 non-null  object
 5   Purchase Address  167981 non-null  object
dtypes: object(6)
memory usage: 9.0+ MB

In [20]:
df.isnull().sum()

Order ID            486
Product             486
Quantity Ordered    486
Price Each          486
Order Date          486
Purchase Address    486
dtype: int64

In [29]:
df.columns = df.columns.str.replace(' ','_')

df.rename(columns={"Order_ID": "order_id",
                     "Product": "product",
                     "Quantity_Ordered": "quantity_ordered",
                     "Price_Each": "price_each",
                     "Order_Date": "order_date",
                     "Purchase_Address": "purchase_address"
                     }, inplace=True)

In [31]:
df.head()

,order_id,product,quantity_ordered,price_each,order_date,purchase_address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

**IDÉIAS**

- fazer uma coluna com mes para cada order
- fazer uma coluna com endereço por cidade para cada order

In [42]:
df['month'] = df['order_date'].str[0:2]
df['month'] = df['month'].astype('int32')

ValueError: ignored

In [41]:
df.head()

,order_id,product,quantity_ordered,price_each,order_date,purchase_address,month
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",01
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",01
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",01
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",01
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",01